/* =======  BRAND COLORS ======= */
$black: #000000;
$white: #ffffff;
$seance: #9e25a5;
$alabaster: #fcfcfc;
$gun-powder: #42414d;
$shark: #28282b;
$coral-red: #ff413e;
$tradewind: #57b3b4;
$amethyst: #b13eb8;
$manatee: #8288a2;
$mischka: #e0e1e6;
$comet: #626882;
$alto: #dcdcdc;
$oslo-gray: #7f868b;
$mercury: #e4e2e2;
$purple-heart: #b42abb;
$lochinvar: #297883;
