/* ======= HEADER ======= */
#qlc_header {
  border-bottom: 1px solid #dcdcdc;
  padding: 21px 0 0;
  height: 83px;
  @media (max-width: 768px) {
    min-height: 70px;
    height: auto;
    padding-top: 15px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    height: auto;
  }
  @media (min-width: 980px) and (max-width: 1200px) {
    height: auto;
  }
  .relative {
    position: relative;
  }
  //  Logo
  #qlc_logo {
    width: 30px;
    float: left;
    margin-right: 30px;
    @media (max-width: 1200px) {
      margin-right: 15px;
    }
    a {
      display: block;
      height: 35px;
      background: url("/images/logo_black.png") no-repeat;
      background-size: contain;
      text-indent: -9000px;
    }
  }
  button {
    padding: 0 !important;
    margin: 0 !important;
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 24px;
    z-index: 100;
  }
  // Navigation Menu
  #qlc_navigation {
    margin: 0 !important;
    padding: 0 !important;
    float: left;
    text-align: center;
    @media (max-width: 767px) {
      width: 100%;
    }
  }
  #qlc_main_navigation {
    margin-top: 8px;
    float: left;
    height: 52px;
    @media (max-width: 767px) {
      width: 100%;
      height: auto;
      float: none;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-block;
        margin-right: 18px;
        @media (max-width: 767px) {
          margin: 0 !important;
          width: 100%;
        }
        @media (max-width: 1200px) {
          margin-right: 10px;
        }
        &:last-child {
          margin: 0;
        }
        a {
          font-size: 13px;
          font-weight: 600;
          padding: 0 6px;
          text-transform: uppercase;
          color: #000;
          font-family: "Proxima Nova";
          letter-spacing: 2px;
          text-decoration: none;
          @media (max-width: 767px) {
            padding: 0 !important;
            margin: 0 0 10px 0;
            display: inline-block;
            line-height: 22px;
          }
          @media (max-width: 1200px) {
            font-size: 11px;
            padding: 0 6px 31px;
          }
          &:hover {
            color: $seance;
            font-weight: 700;
            text-decoration: none;
            font-size: 13px;
            padding: 0 6px 30px;
            border-bottom: 5px solid $seance;
            @media (max-width: 1200px) {
              font-size: 11px;
              padding: 0 6px 31px;
            }
            @media (max-width: 767px) {
              line-height: 22px;
              border-bottom: 3px solid $seance;
            }
          }
        }
        &.qlc_current_menu {
          a {
            padding: 0 6px 30px;
            color: $seance;
            font-weight: 700;
            text-decoration: none;
            font-size: 13px;
            border-bottom: 5px solid $seance;
            @media (max-width: 767px) {
              border: none;
              line-height: 22px;
              padding: 10px 0;
              margin: 0 0 15px 0;
            }
            @media (max-width: 1200px) {
              display: block;
              font-size: 11px;
            }
            &:hover {
              @media (max-width: 767px) {
                border-bottom: 3px solid $seance;
              }
            }
          }
        }
      }
    }
  }
  // Navigation Menu

  // User Profile
  .qlc_user_info {
    position: absolute;
    right: 0;
    @media (max-width: 767px) {
      right: 52px;
    }
    @media (min-width: 768px) and (max-width: 1024px) {
      position: absolute;
      top: 0;
      right: 8px;
    }
    @media (min-width: 980px) and (max-width: 1200px) {
      position: absolute;
      top: 0;
      right: 8px;
    }
    @media (min-width: 980px) {
      top: -5px;
    }
    img {
      margin-right: 10px;
      width: 50px;
      height: 50px;
      @media (max-width: 1200px) {
        width: 40px;
        height: 40px;
      }
    }
    .qlc_user_name {
      display: inline-block;
      vertical-align: middle;
      .qlc_user_massage {
        display: inline-block;
        font-family: "Apercu";
        font-weight: 500;
        font-size: 15px;
      }
      .qlc_user_profile_name {
        display: inline-block;
        color: $seance;
        font-size: 15px;
        text-decoration: none;
        font-weight: 700;
        position: relative;
        padding-right: 29px;
        cursor: pointer;
        font-family: "Circular Std  Bold";
        //&:after {
        //  content: "\e259";
        //  display: inline-block;
        //  font-family: 'Glyphicons Halflings';
        //  font-style: normal;
        //  font-weight: 400;
        //  line-height: 1;
        //  color: #000;
        //  -webkit-font-smoothing: antialiased;
        //  -moz-osx-font-smoothing: grayscale;
        //  position: absolute;
        //  right: 8px;
        //  top: 3px;
        //  font-size: 15px
        //}
      }
    }
  }
  // User Profile
}