.qlc_create_account {
  background: url("../images/bg.jpg") no-repeat;
  background-size: cover;
  height: 100%;
  .qlc_overlay {
    background: url("../images/overlay.png") no-repeat;
    background-size: cover;
    height: 100%;
    padding: 116px 0;
    @media (max-width: 767px) {
      padding: 70px 0;
    }
    .qlc_preferences {
      text-align: center;
      margin-bottom: 60px;
      hr {
        display: inline-block;
        width: 120px;
        margin: 0 0 60px 0 !important;
        @media (max-width: 767px) {
          display: none;
        }
      }
      div {
        display: inline-block;
        @media (max-width: 767px) {
          display: block;
          margin-bottom: 20px;
        }
        &.active {
          span {
            background: $white;
            color: $black;
            label {
              display: block;
              width: 41px;
              font-family: 'Apercu';
              font-size: 16px;
              font-weight: 100;
            }
            i {
              display: none;
            }
          }
          a {
            font-weight: bold;
          }
        }
        span {
          border: 1px solid $white;
          border-radius: 50%;
          height: 41px;
          width: 41px;
          line-height: 41px;
          text-align: center;
          display: block;
          margin: 0 auto 25px;
          label {
            display: none;
          }
          i {
            color: $white;
          }
        }
        a {
          text-decoration: none;
          color: $white;
          font-size: 16px;
          display: block;
          font-family: 'Apercu';
        }
      }
    }
    #qlc_account1, #qlc_account2 {
      padding: 62px 0 70px;
      background: $white;
      text-align: center;
      border-radius: 4px;
      border: 1px solid $alto;
      overflow: hidden;
      h1 {
        font-size: 32px !important;
        color: $black;
        font-weight: bold;
      }
      h4 {
        font-size: 20px;
        font-family: 'Circular Std  Bold';
        color: $black;
        clear: both;
        margin-bottom: 0 !important;
        em {
          font-family: Georgia !important;
        }
      }
      h2, h3 {
        font-family: 'Circular Std  Bold';
        clear: both;
        color: $black;
      }
      p {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 25px;
      }
      img {
        margin: 0 auto 25px;
        display: block;
      }
      div {
        padding-top: 30px;
        margin-bottom: 40px;
        &.qlc_individual {
          margin: 0 !important;
          h2 {
            color: $seance;
          }
        }
      }
    }
  }
}

.qlc_red {
  background: url(../images/app-pending.png) repeat-x bottom;
  display: inline-block;
}

.qlc_tag {
  font-size: 14px;
  text-decoration: none;
  color: $oslo-gray;
  border: 1px solid $mercury;
  border-radius: 30px;
  padding: 9px 19px;
  margin: 0 5px 10px;
  display: block;
  font-family: "Open Sans";
  &:last-child {
    margin-right: 0;
  }
}

.qlc_or {
  margin-top: 54px;
  span {
    background: url("../images/or-bg.png") no-repeat center;
    display: table;
    height: 206px;
    margin: 0 auto;
    label {
      display: table-cell;
      vertical-align: middle;
      font-size: 17px;
      font-family: 'Apercu';
    }
  }
}

.qlc_sea_green {
  color: $lochinvar !important;
  font-weight: bold !important;
  text-decoration: none !important;
}

.qlc_purple_tag {
  color: $seance !important;
  text-decoration: none !important;
  font-weight: bold;
}

.qlc_green_tag {
  color: $lochinvar !important;
  text-decoration: none !important;
  font-weight: bold;
}

.qlc_red_tag {
  color: $coral-red;
  font-weight: bold;
}

.qlc_green_button {
  font-size: 18px;
  color: $white;
  background: $lochinvar;
  padding: 15px 35px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
  @media (max-width: 767px) {
    padding: 15px 20px;
  }
  &:hover {
    text-decoration: none;
    color: $white;
    background: #318f9b;
  }
  &:after {
    content: "\f00c";
    font-family: fontAwesome;
    margin-left: 20px;
  }
}

.qlc_red_button {
  font-size: 18px;
  color: $white;
  background: $coral-red;
  padding: 15px 35px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
  @media (max-width: 767px) {
    padding: 15px 20px;
  }
  &:hover {
    text-decoration: none;
    color: $white;
    background: #ff6966;
  }
  &:after {
    content: "\f00c";
    font-family: fontAwesome;
    margin-left: 20px;
  }
}

.qlc_purple_button {
  font-size: 18px;
  color: $white;
  background: $seance;
  padding: 15px 35px;
  border-radius: 3px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  border: none;
  text-transform: capitalize;
  @media (max-width: 767px) {
    padding: 15px 20px;
  }
  &:hover {
    text-decoration: none;
    color: $white;
    background: $purple-heart;
  }
  &:after {
    content: "\f00c";
    font-family: fontAwesome;
    margin-left: 20px;
  }
}

#qlc_account2 {
  .qlc_or {
    margin: 32px 0 62px 0 !important;
  }
  h3 {
    font-size: 25px !important;
  }
  h4 {
    font-family: 'Circular Std  Bold' !important;
  }
}

.background {
  background: $white;
  border-radius: 4px;
  border: 1px solid $alto;
  overflow: hidden;
}

.qlc_save_preference {
  padding: 55px 40px 60px;
  overflow: hidden;
  .qlc_header {
    a {
      font-size: 11px;
      font-family: 'Open Sans', sans-serif;
      font-weight: bold;
      color: $seance;
      text-decoration: none;
    }
  }
  a {
    &:hover {
      color: #b42abb !important;
    }
  }
  .qlc_tags {
    margin-bottom: 32px;
    overflow: hidden;
    h4 {
      font-family: 'Circular Std  Bold';
      font-size: 19px;
    }
  }
}

.qlc_header {
  margin-bottom: 100px;
  @media (max-width: 767px) {
    text-align: center;
  }
  img {
    @media (max-width: 767px) {
      float: none !important;
      display: block;
      margin: 0 auto 10px !important;
    }
  }
  img {
    margin-right: 26px;
  }
  h2 {
    font-size: 32px !important;
    font-family: 'Circular Std  Bold';
    color: $black;
  }
  p, hr, a {
    display: inline-block;
    font-size: 17px;
  }
  hr {
    width: 400px;
    margin: 0 10px !important;
  }
  p {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
  }
  a {
    color: $coral-red;
    text-decoration: underline;
    font-weight: normal;
    &:hover {
      color: #b42abb !important;
    }
    &.qlc_purple_anchor {
      color: $seance !important;
      text-decoration: none !important;
      font-size: 14px;
      font-weight: bold;
    }
  }
}

#qlc_sign_up {
  padding: 38px 55px 54px;
  @media (max-width: 767px) {
    padding: 30px 16px;
  }
  .qlc_create_my_account {
    @media (max-width: 767px) {
      padding: 30px 0;
    }
  }
  .qlc_header {
    margin-bottom: 36px;
    hr {
      width: 495px !important;
      margin-right: 0 !important;
    }
    a {
      &:hover {
        color: #b42abb !important;
      }
    }
  }
  h3 {
    font-family: 'Circular Std  Bold';
    line-height: 30px;
    margin-bottom: 34px !important;
    font-size: 25px !important;
    margin-top: 0 !important;
    color: $black;
    @media (max-width: 480px) {
      text-align: center;
      display: block;
      float: none !important;
    }
  }
  .qlc_register {
    img {
      margin-bottom: 20px;
    }
  }
  .qlc_sign_up_form {
    padding: 0 !important;
    .letter {
      margin: 0 !important;
      opacity: 0.4;
      @media (max-width: 480px) {
        display: block;
        text-align: center;
        margin: 0 auto 10px !important;
        width: 100%;
      }
      img {
        padding: 0 !important;
        border: none !important;
      }
    }
  }
  .qlc_account_type {
    padding-top: 63px;
    padding-left: 0;
  }
  .qlc_or {
    margin-top: 86px;
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #7f868b;
  font-size: 14px;
  font-family: "Open Sans";
}

::-moz-placeholder { /* Firefox 19+ */
  color: #7f868b;
  font-size: 14px;
  font-family: "Open Sans";
}

:-ms-input-placeholder { /* IE 10+ */
  color: #7f868b;
  font-size: 14px;
  font-family: "Open Sans";
}

:-moz-placeholder { /* Firefox 18- */
  color: #7f868b;
  font-size: 14px;
  font-family: "Open Sans";
}

.qlc_account_type {
  a {
    margin-bottom: 12px;
    text-decoration: none;
    text-align: center;
    display: block;
    opacity: 0.3;
    img {
      border: 2px solid $mercury;
      border-radius: 2px;
      padding: 24px;
      margin-bottom: 12px;
    }
    h6 {
      font-size: 14px;
      font-family: 'Circular Std  Bold';
      text-transform: capitalize;
      color: #000;
    }
    &:hover, &.active {
      opacity: initial;
      img {
        border: 2px solid $seance;
      }
    }
  }
}

input[type=text], input[type=email], input[type=password] {
  padding: 12px 20px;
  width: 100%;
  border: 1px solid $mercury;
  border-radius: 3px;
  margin: 0 0 24px;
}

.qlc_half_width {
  width: 48% !important;
  float: left;
  margin: 0 3px 25px !important;
  @media (max-width: 767px) {
    width: 100% !important;
  }
}

#qlc_build_profile_a {
  padding: 38px 55px 55px;
  .qlc_verify {
    a {
      text-decoration: none;
      color: #7f868b;
      font-size: 13px;
    }
  }
  img {
    margin-bottom: 12px;
  }
  hr {
    width: 410px !important;
  }
  .qlc_header {
    margin-bottom: 44px;
  }
  .qlc_account_type {
    a {
      display: inline-block;
      margin: 0 30px 0 0;
      @media (max-width: 480px) {
        display: block;
        margin: inherit;
      }
      &:last-child {
        img {
          padding: 27px 24px !important;
        }
      }
    }
  }
  .qlc_verify {
    padding-bottom: 30px;
    margin-bottom: 40px;
    border-bottom: 1px solid $mercury;
    @media (max-width: 991px) {
      text-align: center;
    }
    img {
      display: block;
      @media (max-width: 991px) {
        margin: 0 auto;
      }
    }
  }
  .qlc_verify_form {
    padding: 0;
    h3 {
      font-size: 25px;
      margin: 0 0 30px !important;
      display: block;
      font-family: "Circular Std  Bold";
      color: $black;
    }
    a.picture {
      width: 120px;
      height: 120px;
      border: 1px solid $mercury;
      border-radius: 50%;
      text-align: center;
      line-height: 122px;
      display: block;
      @media (max-width: 1023px) {
        margin: 0 auto 15px;
      }
      img {
        display: initial;
        margin: initial;
      }
    }
  }
}

#qlc_build_profile_b {
  padding: 38px 55px 60px;
  @media (max-width: 767px) {
    padding: 30px 16px;
  }
  .qlc_header {
    margin-bottom: 92px;
  }
  h3 {
    font-family: 'Circular Std  Bold';
    line-height: 30px;
    margin-bottom: 50px !important;
    font-size: 25px !important;
    margin-top: 0 !important;
  }
}

.qlc_build_profile_tags {
  overflow: hidden;
  a {
    padding: 12px 35px;
    margin-bottom: 20px;
    &:hover {
      color: $seance;
    }
  }
}

img {
  @media (max-width: 991px) {
    max-width: 100%;
  }
}

.qlc_register {
  a {
    display: block;
    img.img-responsive {
      @media (max-width: 767px) {
        display: inline-block !important;
      }
    }
  }
}

.qlc_organization {
  margin: 0 !important;
}

.qlc_difference {
  margin: 0 !important;
  padding: 0 !important;
  h3 {
    margin: 0 !important;
  }
}